!!! 5
%html
  %title= 'Suppleo-Conseil'
  = csrf_meta_tags
  = stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload'
  = javascript_include_tag 'application', 'data-turbolinks-track': 'reload'

%body
  #flash_msg.modal-fade
    = render_flash
  = render partial: 'public/header'
  %main#main
    #render.modal-fade
      = yield
  = render partial: 'public/footer'